<%= stylesheet_link_tag "organism" %>

<h1> NatureWalk </h1>

<div class="form">
<%= form_for(@organism) do|f| %>

<p>What did you see?</p>
<%= f.text_field :species %></br></br>
<p>Where did you see it?</p>
<%= f.text_field :location%></br></br>
<%= f.submit "Submit Walk"%>

<% end %>

</div>
