<h1><%= @organism.species %></h1>

Group: <%= @organism.group %><br/>
Location: <%= @organism.location %><br/>

<%= form_tag('/walks', method: :POST) do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input name="user_id" type="hidden" value="<%= current_user.id %>">
<input name="organism_id" type="hidden" value="<%=@organism.id%>">
<input type="submit" value="Put on list">
<%end %>
