<h1> Welcome <%= @user.username %>!</h1>

<%= image_tag @user.image.url(:medium) %><br>

<strong>Location:</strong> <%= @user.location %> <br>
<strong>Interests:</strong> <%= @user.interest %> <br>

<strong>Nature Lover Level:</strong> <%= @user.nature_lover_level %><br><br>

<h3>Sightings:</h3>
<% @user.organisms.each do |organism| %>

<li><%= link_to organism.species, organism_path(organism) %> in
  <%= organism.location %>
<%= organism.created_at.strftime("on %m/%d/%Y") %></li>
<% end  %><br>

<strong><%= link_to 'Take a walk' , new_organism_path %><br><br>


  <%= link_to 'Edit your profile', edit_user_path %><br>
  <%= link_to 'Delete your profile', delete_profile_path  %><br>
<%= link_to 'Sign Out' , signout_path %><br>
